html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{ margin:0; padding:0; outline:0; font-size:100%; font: inherit; vertical-align:middle;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
address, caption, cite, code, dfn,em, strong, i, th, var, optgroup { font-style: normal;  font-weight: normal;}
h1, h2, h3, h4, h5, h6,abbr,acronym{ font-weight: normal;}
input,button,textarea,select,optgroup,option{ font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;}
input,button,textarea,select { font-size: 100%;}
input[type="text"],input[type="password"],textarea{ outline-style:none; -webkit-appearance:none;-webkit-border-radius: 0;border-radius: 0}
textarea{resize:none;}
ol,ul{ list-style: none;}
table{ border-collapse: collapse; border-spacing: 0;}
caption,th{ text-align: left;}
a,ins{ text-decoration: none;}
a{ outline: none;color: #333;}
a:hover {
    color: #5690f5;
    cursor: pointer;
}
blockquote,q{ quotes: none;}
:focus{ outline:none;}
img{ border:none;max-width: 100%;}
blockquote:before,blockquote:after,q:before,q:after{ content: ''; content: none;}
.clear{ clear:both;}