@charset "utf-8";
/* CSS Document */
.SupportNav{ width:100%; height:2.2rem; border-bottom:solid 1px #efefef;}
.SupportNav li{ width:50%; float:left;height:2.2rem; text-align:center;}
.SupportNav li a{ display:inline-block;color:#333; line-height:2.1rem; padding:0 0.2rem; font-size:0.9rem;}
.SupportNav li a.on{ border-bottom:solid 3px #3bc8ac; color:#3bc8ac;}

.Songlist li{ float:left; width:92%; padding:0px 4%; border-bottom:solid 1px #efefef; height:3rem; position:relative;}
.Songlist li img{ position:absolute; right:4%; top:0.8rem;}
.Songlist li h2{ color:#333; font-size:0.8rem; line-height:1.2rem; margin-top:0.4rem;}
.Songlist li p{ color:#999; font-size:0.7rem;}

.Song{ width:100%; height:100%; position:absolute; background:url(../mobile-images/Song.jpg) no-repeat; background-size:100%;}
.Song .name{ text-align:center; font-size:0.75rem;  color:#fff; position:relative; top:2.6rem;}
.Song .Songpic{ width:13.25rem; height:13.25rem; border:solid 0.55rem #878793; border-radius:50%; overflow:hidden; background:#fff; left:50%; top:40%; position:absolute; margin-left:-6.9rem; margin-top:-6.9rem;}
.Song .SongControl{ width:100%; position:absolute; left:0; bottom:1.5rem;}
.Song .SongControl .left{ width:14%; text-align:right; color:#fff; font-size:0.6rem; line-height:2rem;}
.Song .SongControl .right{ width:14%; text-align:left; color:#fff; font-size:0.6rem; line-height:2rem;}
.Song .SongControl .jindu{ width:66%; float:left; margin-left:3%; background:#eee; height:0.1rem; top:0.95rem; position:relative;}
.Song .SongControl .jindutiao{ background:#3bc8ac; height:0.1rem; }
.Song .SongControl .jindubiao{ position:absolute; background:url(../mobile-images/ico11.png) no-repeat; width:0.75rem; height:0.75rem; margin-top:-0.375rem; margin-left:-0.375rem; top:50%;}
.Song .SongControl .Controls_bottom{ text-align:center; margin-top:0.5rem;}
.Song .SongControl .before{ background:url(../mobile-images/before.png) no-repeat; width:1.1rem; height:1.1rem; display:inline-block;}
.Song .SongControl .next{ background:url(../mobile-images/next.png) no-repeat; width:1.1rem; height:1.1rem; display:inline-block;}
.Song .SongControl .play{ background:url(../mobile-images/play.png) no-repeat; width:1.75rem; height:1.75rem; display:inline-block; margin:-0.325rem 1rem;}
